.section-wrapper {
max-width: 1200px;
margin: 10px auto;
padding: 0 20px;
}

.section-title {
text-align: center;
margin: 20px;
}

.section-title h2 {
font-size: 2.4rem;
font-weight: 600;
}

.section-title p {
color: #64748b;
margin-top: 10px;
}

.services-cards {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.services-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: #ee4646;
    transition: transform .4s ease;
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.services-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent, rgba(3, 61, 8, 0.75));
    display: flex;
    align-items: flex-end;
    padding: 25px;
}

.services-content {
    color: #f3f1f1;
}


@media(max-width: 768px){
    .card img{
    height: 260px;
    width: 100px;
    }
}