/* 

Journey Template 
http://www.templatemo.com/tm-511-journey

Primary color (light blue)  : #69c6ba
Highlight color (pink)		: #c66995
--------------------------------------

*/
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

p:last-child { margin-bottom: 0; }

.tm-page-wrap { 
    max-width: 1400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: rgba(162, 197, 169, 0.705);
}

.tm-text-gray { color: #787676; }

.tm-text-highlight {
    color: #c66995;
    font-weight: 600;
}

.tm-bg-primary { background: #415739; border-radius: 10px; }
.tm-bg-highlight { background: #3c5a53; border-radius: 10px;}

.btn-primary {
    background: #155991;
    border: none;
    border-radius: 0;
    outline: none;
}

.btn-primary:hover { background: #c66995; }


.tm-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;  
    padding: 12px 20px;
}

.tm-btn-white { background: white; }
.tm-btn-white-primary { color: #0e5047; }
.tm-btn-white-highlight { color: #2c2629; }

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
    background: #741340;
    color: white;
}

.tm-btn-white-highlight:hover,
.tm-btn-white-highlight:focus,
.tm-btn-white-highlight:active {
    background: #c2e73b;
    color: white;
}


.tm-slideshow-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #67a4af41;
}

.tm-slideshow img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.tm-slideshow-section-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.tm-slideshow { width: 50%; }

.tm-slideshow-description {
    text-align: justify;
    padding: 50px;
    color: rgb(250, 249, 249);
    width: 48%;
    z-index: 100;
    margin-left: -42px;
}

.tm-slideshow-description-left {
    margin-left: auto;
    margin-right: -42px;    
}


/* Tabs */

.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}

.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}

.tm-recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;    
}

.tm-recommended-img { width: 270px; }

.tm-recommended-description-box {
    padding: 30px;
    width: 500px;
}

.tm-recommended-price-box {    
    background-color: #054e44;
    background-image: url(../img/button-curve.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    transition: all 0.3s ease;
}

.tm-recommended-price-box:hover { background-color: #c66995; }

.tm-recommended-price {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.tm-recommended-price-link {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tm-d-table { display: table; }

footer {
    background: rgba(208, 241, 209, 0.774);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;    
    font-size: 0.8rem;
}

footer a { color: #1a1616; }

footer a:hover { color: #900; }

footer p {  color: rgb(56, 56, 56); size: 90; }


#google-map { height: 600px; }

@media screen and (max-width: 1080px) {
    .tm-tab-link-li { width: 25%; }
}

@media screen and (max-width: 1033px) {
    .tm-slideshow-description { width: 55%; }
}

@media screen and (max-width: 991px) {
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 20px;
        background: white;
    }

    .tm-top-bar, .tm-top-bar-bg { height: auto; }

    #mainNav {
        width: 200px;
        position: absolute;
        top: 53px;
        right: 15px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
    }

    .tm-top-bar {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
    }

    .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 15px; }

    .tm-top-bar .navbar-brand { font-size: 1.4rem; }

    .tm-top-bar .navbar-brand img {
        width: 60px;
        height: auto;
    }

    .tm-top-bar .navbar-brand img { width: 40px; }

    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tm-recommended-description-box { width: 450px; }
}

@media screen and (max-width: 986px) {
    .tm-slideshow-section { flex-direction: column; }
    
    .tm-slideshow,
    .tm-slideshow-description {
        width: 100%;
        max-width: 700px;
    }

    .tm-slideshow-description {        
        margin-right: auto;
        margin-left: auto;
    }


}

@media screen and (max-width: 860px) {
    .tm-recommended-description-box { width: 350px; }
}

@media screen and (max-width: 826px) {

    .tm-recommended-place-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .tm-recommended-place {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .tm-recommended-price,
    .tm-recommended-price-link {
        position: relative;
        z-index: 1000;
    }

    .tm-recommended-price { padding-top: 50px; }

    .tm-recommended-price-box {
        width: 270px;
        height: 180px;        
        position: relative;
        overflow: hidden;
        padding-left: 0;
        background-image: none;
    }

    .tm-recommended-price-box:after {
        content: "";
        position: absolute;
        width: 180px;
        height: 270px;
        top: -45px;
        left: 45px;
        z-index: 27;
        background: url(../img/button-curve.png) 0 0 no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-size: auto 100%;      
    }

    .tm-recommended-price-box,
    .tm-recommended-price-box:hover {
        background-size: cover;
    }

    .tm-recommended-description-box { width: 270px; }
}

@media screen and (max-width: 767px) {
    .tm-banner-row {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .tm-banner-header { margin-top: 100px; }

    .tm-form-group-1,
    .tm-form-group-2,
    .tm-form-group-3 {
        width: 100%;
    }    
}